.logo {
  height: 50px;
  width: 200px;
}

.hero, .hero h1 {
  background-image: url("./assets/testImg/hero.jpeg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.hero h1 {
  margin-top: 8%;
}

.Banner {
  height: 400px;
  position: relative;
}
.Banner .Media {
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}
.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: black;
  color: white;
  opacity: 0.6;
  width: 100%;
  height: 10%;
  font-size: 36px;
  font-weight: 200;
  transition: 300ms;
  cursor: pointer;
}
.Banner .Media .MediaCaption:hover {
  opacity: 0.8;
}
.Banner .Media:hover {
  filter: brightness(115%);
}
.Banner .BannerGrid {
  height: 100%;
  position: relative;
}
.Banner .Content {
  color: white;
  background-color: red;
  height: 100%;
  position: relative;
  cursor: pointer;
  padding: 30px;
  transition: 300ms;
}
.Banner .Content:hover,
.Banner .Content:active {
  background-color: tomato;
}
.Banner .Content:hover .ViewButton,
.Banner .Content:active .ViewButton {
  background-color: white;
  color: red;
}
.Banner .Content .Title {
  font-size: 42px;
  font-weight: 500;
}
.Banner .Content .Caption {
  margin-top: 10px;
  font-size: 24px;
}
.Banner .Content .ViewButton {
  margin-top: 40px;
  color: white;
  font-size: 24px;
  border: 3px solid white;
  text-transform: capitalize;
  transition: 200ms;
}